<!DOCTYPE html>
<html lang='en' translate='no'>
	<head>
		<title>Varejão Santa Rita</title>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='icon' href='assets/media/ico.png'>
		<link rel='stylesheet' href='assets/css/style.css'>
		<!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
	</head>
	<body>
		<header>
			<img src='assets/media/logo_VSR.png'>
			<div id='navbtn'>
				<div></div>
			</div>
			<div>
				<nav>
					<a href=''>Home</a>
					<a href=''>Loja</a>
					<a href='#about'>Quem somos</a>
					<a href='#location'>Contato</a>
				</nav>
			</div>
		</header>
		<main>
			<section id='title'>
				<div>
					<h2>Mais saúde para sua mesa</h2>
				</div>
			</section>
			<section id='intro'>
				<div>
					<h2>Especialmente selecionados</h2>
					<p>A qualidade do campo</br>para dentro de sua casa</p>
				</div>
				<div>
					<video autoplay="autoplay" muted loop>
						<source src="assets/media/title_video.mp4" type="video/mp4">
						<object data="" muted>
							<embed src="assets/media/title_video.mp4">
						</object>
					</video>
				</div>
			</section>
			<section id='showroom'>
				<div>
					<img src='assets/media/sf.jpg'>
				</div>
				<div>
					<img src='assets/media/cf.jpg'>
				</div>
				<div>
					<img src='assets/media/bl.jpg'>
				</div>
			</section>
			<section id='products'>
				<div>
					<h2>Produtos fresquinhos</h2>
					<p>Escolhidos com o coração</br>Para nutrir a sua família</p>
				</div>
				<div id='carroucel'>
					<div>
						<img class='hortifruti' src="assets/media/hortifruti/h(1).jpg" alt="hortifruti">
						<img class='hortifruti' src="assets/media/hortifruti/h(2).jpg" alt="hortifruti">
						<img class='hortifruti' src="assets/media/hortifruti/h(3).jpg" alt="hortifruti">
						<img class='hortifruti' src="assets/media/hortifruti/h(4).jpg" alt="hortifruti">
						<img class='hortifruti' src="assets/media/hortifruti/h(5).jpg" alt="hortifruti">
						<img class='hortifruti' src="assets/media/hortifruti/h(6).jpg" alt="hortifruti">
					</div>
				</div>
			</section>
			<section id='about'>
				<div>
					<h3>Nossa História</h3>
					<span>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum.</br> Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.<br/> Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing."</span>
				</div>
			</section>
			<section id='location'>
				<div>
					<iframe 
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234.50122893304436!2d-43.94775256295833!3d-19.881391605984316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6911a4ef1406f%3A0xcba8ab60e3085607!2sSacol%C3%A3o%20da%20Maria!5e0!3m2!1spt-BR!2sbr!4v1652718122584!5m2!1spt-BR!2sbr" 
						allowfullscreen="" 
						loading="lazy" 
						referrerpolicy="no-referrer-when-downgrade"></iframe>				
				</div>
			</section>
		</main>
		<footer>
			<div>
				<span>R. Taváres de Melo, 21 - Cachoeirinha, Belo Horizonte - MG, 31150-190</span>
			</div>
			<div>
				<span>Criado com ❤️ por <a href='https://github.com/malkavianson'>@malkavianson</a></span>
			</div>
			<div>
				<a href='https://api.whatsapp.com/send?1=pt_br&phone=5531999305338'><img src='assets/media/whatsapp.png'></a>
			</div>
		</footer>
	</body>
	<!-- <script src='assets/js/scripts.js'></script> -->
</html>